// Reset
@media (min-width: 1200px) {
  .container { width: 990px; }
}

// Placeholder color
.form-control::-webkit-input-placeholder { // WebKit, Blink, Edge
  color: $placeholder-color;
}
.form-control:-moz-placeholder { // Mozilla Firefox 4 to 18
  color: $placeholder-color;
  opacity:  1;
}
.form-control::-moz-placeholder { // Mozilla Firefox 19+
  color: $placeholder-color;
  opacity:  1;
}
.form-control::-ms-input-placeholder { // Internet Explorer 10-11
  color: $placeholder-color;
}
.form-control:-ms-input-placeholder { // Internet Explorer 10-11
  color: $placeholder-color;
}
.form-control::placeholder { // Most modern browsers support this now
  color: $placeholder-color;
}

.invalid-feedback {
  font-size: 100%;
}