// Reset
@media (min-width: 1200px) {
  .container { width: 990px; }
}

// Placeholder color
.form-control::-webkit-input-placeholder { // WebKit, Blink, Edge
  color: $placeholder-color;
}
.form-control:-moz-placeholder { // Mozilla Firefox 4 to 18
  color: $placeholder-color;
  opacity:  1;
}
.form-control::-moz-placeholder { // Mozilla Firefox 19+
  color: $placeholder-color;
  opacity:  1;
}
.form-control::-ms-input-placeholder { // Internet Explorer 10-11
  color: $placeholder-color;
}
.form-control:-ms-input-placeholder { // Internet Explorer 10-11
  color: $placeholder-color;
}
.form-control::placeholder { // Most modern browsers support this now
  color: $placeholder-color;
}

// Input
input[type="file"] {
  cursor: pointer;
}

// Checkbox
.form-check-input {
  margin-left: 0;
}
.form-check-label {
  margin-left: 18px;
}

// Validation
.invalid-feedback {
  font-size: 100%;
}

// Mditor
@media (max-width: 768px) {
  .card .mditor {
    padding-top: 66px;
    .head {
      height: 66px;
    }
  }
}
.markdown-body :not(pre)>code[class*=language-],
.markdown-body pre[class*=language-]
{
  background: #f2f4f5;
}
.markdown-body code[class*=language-],
.markdown-body pre[class*=language-]
{
  color: #333;
  font-size: 13.6px;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  text-shadow: none;
}