// Reset
@media (min-width: 1200px) {
  .container { width: 990px; }
}

// Placeholder color
.form-control::-webkit-input-placeholder { // WebKit, Blink, Edge
  color: $placeholder-color;
}
.form-control:-moz-placeholder { // Mozilla Firefox 4 to 18
  color: $placeholder-color;
  opacity:  1;
}
.form-control::-moz-placeholder { // Mozilla Firefox 19+
  color: $placeholder-color;
  opacity:  1;
}
.form-control::-ms-input-placeholder { // Internet Explorer 10-11
  color: $placeholder-color;
}
.form-control:-ms-input-placeholder { // Internet Explorer 10-11
  color: $placeholder-color;
}
.form-control::placeholder { // Most modern browsers support this now
  color: $placeholder-color;
}

// Validation
.invalid-feedback {
  font-size: 100%;
}

// Mditor
.markdown-body :not(pre)>code[class*=language-],
.markdown-body pre[class*=language-]
{
  background: #f2f4f5;
}

.markdown-body code[class*=language-],
.markdown-body pre[class*=language-]
{
  color: #333;
  font-size: 13.6px;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  text-shadow: none;
}