// Body
$body-bg-color: #f6f6f6;

// Single-block
$block-bg-color: #fff;

// Typography
$font-family-base: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$font-color-base: #393939;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$placeholder-color: #ccc;
$letter-spacing: 0.5px;