// Fonts url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fixes
@import "fixes";

// Mixins
@mixin course-header {
  h1 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .author {
    margin-top: 15px;
    padding-right: 10px;
    text-align: right;
  }
}

@mixin editing {
  .head {
    padding: 0px 5px 15px;
    font-size: 16px;
    border-bottom: #dadada 1px solid;

    svg {
      margin-right: 3px;
    }
  }

  .body {
    padding: 20px 5px 10px;
  }
}

@mixin mini-card {
  .card {
    margin-top: 8%;
    font-size: 14px;

    .card-header {
      margin: 0 20px;
      background-color: #fff;
      text-align: center;
    }
  }
}

// Iconfont
.icon {
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: -0.2rem;
  fill: currentColor;
  overflow: hidden;
}

// Close button
button.close {
  outline: none;
}

// Common
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 15px;
  font-family: $font-family-base;
  color: $font-color-base;
  line-height: $line-height-base;
  background-color: $body-bg-color;
}

ul > li {
  list-style-type: none;
}

.card {
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.btn-w-100 {
  width: 100px;
}

.btn-w-120 {
  width: 120px;
}

.btn-w-150 {
  width: 150px;
}

.btn-w-200 {
  width: 200px;
}

.img-shadow {
  box-shadow: 0px 2px 5px 0px rgba(#000, 0.16), 0px 2px 10px 0px rgba(#000, 0.12);
}

// Header
header {
  height: 50px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  background-color: $block-bg-color;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);

  a {
    color: $font-color-base;
  }

  .logo {
    float: left;
    margin-top: 7px;
  }

  .info {
    float: right;
    margin: 0;
    padding: 0;

    li {
      float: left;

      &.link {
        margin-top: 13px;
      }

      &.register {
        margin-left: 15px;
      }

      &.show {
        background-color: #f5f5f5;
      }

      a.dropdown-toggle {
        display: block;
        padding: 10px;
        color: $font-color-base;
        text-decoration: none;
        outline: 0;

        &::after {
          margin-left: 0.5px;
          vertical-align: 0.5px;
        }
      }

      .dropdown-menu {
        margin-top: 0px;
        min-width: 8rem;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        box-shadow: 0 5px 20px rgba(26,26,26,.1);

        .dropdown-item {
          padding: 8px 20px;
          &:hover, &:focus, &:active {
            background-color: #f5f5f5;
            color: #333;
          }
        }

        .button-icon {
          margin-right: 6px;
          font-size: 15px;
        }
      }

      .avatar {
        margin-right: 5px;
        img {
          border-radius: 2px;
        }
      }

      .username {
        display: inline-block;
        max-width: 150px;
        max-height: 25px;
        vertical-align: middle;
        overflow: hidden;
      }
    }
  } //end info
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  background-color: $block-bg-color;
  box-shadow: 0 -1px 1px rgba(26,26,26,.1);

  a {
    color: $font-color-base;
  }

  .info {
    padding: 20px 0px;
  }
}

// Home page
.home-page {
  .card {
    .name {
      color: #333;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .intro {
      margin-top: 1rem;
      line-height: 1.8rem;
      letter-spacing: $letter-spacing;
    }
  }
}

// Course pages
.course-show-page {
  @include course-header;

  .intro {
    margin-top: 15px;
    line-height: 1.8rem;
    letter-spacing: $letter-spacing;
  }

  .extra {
    margin: 25px auto 15px;
    text-align: center;
  }
}

.course-chapters-page {
  @include course-header;

  .extra {
    margin-top: 15px;
  }

  .chapters {
    dt {
      margin: 25px 0 10px;
      font-size: 18px;
    }

    dd {
      border-bottom: #eee 1px solid;
      line-height: 2rem;
      padding-left: 0.5rem;

      .badge {
        margin-right: 10px;
      }
    }
  }
}

// Course purchase page
.course-purchase-page {
  @include editing;

  .purchase-info {
    width: 80%;
    margin: 20px auto 0;

    td {
      vertical-align: middle;
      p {
        margin-bottom: 10px;
      }
    }

    .caption {
      min-width: 100px;
      font-weight: bold;
    }

    .item {
      text-indent: 15px;

      .price {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}

// Topic pages
.topic-show-page {

  .card-body {
    padding: 2rem;

    svg {
      margin-right: 6px;
    }

    .btn-light {
      border-color: #ddd;
    }

  }

  .head {
    line-height: 50px;
    border-bottom: #ddd 1px solid;

    h1 {
      margin-top: 10px;
      font-size: 1.25rem;
      vertical-align: middle;
      letter-spacing: $letter-spacing;
    }

    .button {
      float: left;
      margin-left: 10px;
      vertical-align: middle;
      font-size: 14px;
    }

    .breadcrumb {
      margin-bottom: 10px;
      padding: 0 2px;
      font-size: 14px;
      line-height: 2;
      background-color: #fff;

      a {
        color: #777;
      }
    }
  }

  .markdown-body {
    margin: 1rem auto;
    line-height: 1.8rem;
    font-size: 15px;
    font-family: $font-family-base;
    color: $font-color-base;
    letter-spacing: $letter-spacing;
  }

  .sns {
    padding: 2rem 0;
    text-align: center;

    .wrapper {
      display: inline-block;

      .text, .icons, .addition {
        float: left;
        height: 36px;
        line-height: 36px;
      }

      .addition {
        margin-top: -3px;
      }
    }
  }

  #jumper {
    cursor: pointer;
  }

  .comments {
    letter-spacing: $letter-spacing;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 2px;
    }

    .comment {
      margin-top: 30px;

      .heading {
        display: inline-block;
        margin-top: 0px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .created {
        margin-top: 5px;
        font-size: 13px;
        color: #999;
      }

      .operations {
        float: right;

        a {
          margin-left: 5px;
        }

        form {
          display: inline-block;
        }
      }
    }

    .reply {
      margin-top: 15px;
      padding-top: 15px;
      border-top: #eee 1px solid;

      .v-line {
        display: inline-block;
        width: 3px;
        height: 15px;
        margin-right: 6px;
        margin-bottom: -2px;
        background-color: $primary;
      }
    }

    .post-reply {
      margin-top: 30px;

      .editor {
        min-height: 10rem;
      }

      .tip {
        margin-left: 10px;
        color: #999;
        font-size: 13px;
        vertical-align: middle;
      }

      button {
        margin-top: 6px;
      }
    }

  } // end comments

}// end topic-show-page

.topic-edit-page,
.topic-create-page {
  @include editing;
}

// User login
.login-page {
  @include mini-card;

  .card {
    .nav-tabs .nav-link {
      color: $font-color-base;
    }

    .tab-content {
      padding-top: 25px;
    }

    .captcha {
      margin-top: 10px;
      cursor: pointer;
    }
  } // end card
}

// User register
.register-page {
  @include mini-card;

  #generate_code {
    width: 97px;
    border-color: #ddd;
  }
}

// User show profile
.user-show-page {
  .name {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
  }

  .intro {
    margin: 10px 0px;
    color: #666;
  }

  .btn {
    margin-bottom: 10px;
  }

  .tab-content > .tab-pane {
    table {
      margin: 25px auto;

      thead {
        text-align: center;
      }

      tbody {
        td {
          border-top: 0;
          border-bottom: 1px solid #dee2e6;
        }

        .datetime {
          color: #999;
          font-size: 13px;
        }

        .hint {
          margin: 0 10px;
        }
      }
    }
  }
}

// User edit and password reset page
.user-edit-page,
.user-password-page {
  @include editing;

  .sidebar {
    padding: 10px 10px;

    .list-group-item {
      padding: 0.5rem 1.25rem;

      &.active {
        color: #495057;
        background-color: #e9ecef;
        border-color: #e9ecef;
      }
    }
  }

  .body {

    .tips {
      color: #999;
    }

    #avatar {
      display: none;
    }

    .avatar-wrapper {
      position: relative;
      &:hover > .avatar-mask {
        opacity: 1;
      }

      .img-avatar {
        cursor: pointer;
      }

      .avatar-mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s ease-in;
        cursor: pointer;

        .mask-bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: .4;
          background: #1a1a1a;
          border-radius: 0.25rem;
        }

        .mask-content {
          position: absolute;
          left: 50%;
          top: 50%;
          color: #fff;
          text-align: center;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }

        .mask-text {
          margin-top: 10px;
        }
      }
    }
  }

  .modal {
    text-align: center;

    .image-wrapper {
      margin: auto;
      max-width: 300px;
      max-height: 300px;
      text-align: center;

      & > img {
        max-width: 100%;
      }
    }

    .image-tools {
      display: inline-block;
      margin: 10px auto 0;

      .wrapper {
        margin: -.5rem -.75rem;
        padding: .5rem .75rem;

        .fa {
          font-size: 16px;
        }
      }
    }
  }
}

// Password reset
.password-request-page,
.password-reset-page {
  @include mini-card;
}

// Agreement page
.agreement-page {
  .container {
    padding: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  ol > li {
    margin: 1rem 0;
  }
}