// Fonts url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fixes
@import "fixes";

// Mixins
@mixin course-header {
  h1 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .author {
    margin-top: 15px;
    padding-right: 10px;
    text-align: right;
  }
}

// Common
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 15px;
  font-family: $font-family-base;
  color: $font-color-base;
  line-height: $line-height-base;
  background-color: $body-bg-color;
}

ul > li {
  list-style-type: none;
}

.card {
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.btn-w-100 {
  width: 100px;
}

.btn-w-120 {
  width: 120px;
}

.btn-w-150 {
  width: 150px;
}

.btn-w-200 {
  width: 200px;
}

.img-shadow {
  box-shadow: 0px 2px 5px 0px rgba(#000, 0.16), 0px 2px 10px 0px rgba(#000, 0.12);
}

// Header
header {
  height: 50px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  overflow: hidden;
  background-color: $block-bg-color;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);

  a {
    color: $font-color-base;
  }

  .logo {
    float: left;
    margin-top: 7px;
  }

  .info {
    float: right;
    margin-top: 12px;

    li {
      float: left;
      margin-left: 20px;
    }
  } //end info
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  background-color: $block-bg-color;
  box-shadow: 0 -1px 1px rgba(26,26,26,.1);

  a {
    color: $font-color-base;
  }

  .info {
    padding: 20px 0px;
  }
}

// Home page
.home-page {
  .card {
    .name {
      color: #333;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .intro {
      margin-top: 1rem;
      line-height: 1.8rem;
      letter-spacing: $letter-spacing;
    }
  }
}

// Login page
.login-page {
  .card {
    margin-top: 8%;

    a {
      color: $font-color-base;
    }

    .tab-content {
      padding-top: 25px;
    }
  } // end card
}

// Course pages
.course-show-page {
  @include course-header;

  .intro {
    margin-top: 15px;
    line-height: 1.8rem;
    letter-spacing: $letter-spacing;
  }

  .extra {
    margin: 25px auto 15px;
    text-align: center;
  }
}

.course-chapters-page {
  @include course-header;

  .extra {
    margin: 25px 0;
  }
}